global-exclude *

include LICENSE
include README.md
include pyproject.toml
include CreatePreview.py
include ParseLeicaImageXML.py
include ParseLeicaImageXMLLite.py
include ReadLeicaLIF.py
include ReadLeicaLOF.py
include ReadLeicaXLEF.py
include ci_leica_converters_helpers.py
graft convertleica_file_browser
include convertleica_file_browser/ome.xsd

global-exclude __pycache__
global-exclude *.py[cod]
